html {
    text-align: center;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:link {
    color: white;
}


/* visited link */

a:visited {
    color: white;
}

a:hover {
    background: white;
    color: black;
}

footer li {
    display: inline-block;
    text-decoration: none''
}

footer li img {
    width: auto;
    max-height: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.homeButton {
    width: 100px;
}

.button,
.selectButton {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 20px #999;
    background-image: url(images/button-bg.png);
    background-repeat: repeat-x;
    background-position: center;
    font-size: 120%;
    padding: 5px 10px;
    border-radius: 5px;
}
